@font-face {
  font-family: "Estedad";
  font-weight: 100;
  font-style: normal;
  src: url("../assets/fonts/Estedad-FD-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Estedad";
  font-weight: 200;
  font-style: normal;
  src: url("../assets/fonts/Estedad-FD-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Estedad";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/Estedad-FD-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Estedad";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Estedad-FD-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Estedad";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Estedad-FD-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Estedad";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/Estedad-FD-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Estedad";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Estedad-FD-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Estedad";
  font-weight: 800;
  font-style: normal;
  src: url("../assets/fonts/Estedad-FD-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Estedad";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/Estedad-FD-Black.woff2") format("woff2");
}

body,
button,
input,
input::placeholder,
textarea,
textarea::placeholder,
li {
  font-family: "Estedad";
  color: #353535;
}
